<!-- meta tags and body style -->
<%- include('../partials/meta.ejs') %>
<%- include('../partials/nav.ejs') %>

  <h1>Now you can edit your selected fruit: <%= selectedFruit.name %>
  </h1>
       
 
<form action="/fruits/<%= selectedFruit._id %>/edit?_method=PUT" method="POST">
    <div class="checkbox-div">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="checkbox-div">
        <label for="isReadyToEat">Is Ready TO Eat?</label>
        <input type="checkbox" id="isReadyToEat" name="isReadyToEat" <% if(selectedFruit.isReadyToEat){ %>
          checked
        <%  } %>
          >
    </div> <div style="margin: 2rem;">
    <button type="submit" href="/fruits/<%= selectedFruit._id %>/edit">Confirm changes to <%= selectedFruit.name %></button>

  </div></form>
        </body>

        </html>

        <%- include('../partials/footer.ejs') %>
